:root {
  --primary-background-color: rgba(255, 255, 255, 0.7);
  --primary-text-color: #111111;
  --secondary-background-color: rgb(0, 0, 0);
  --secondary-text-color: #ffffff;
  --primary-system-color: #007aff;
  --error-system-color: #ff3b30;
  --error-system-color-background: #ff3a305b;
  --error-system-color-accent: #ff3a3085;

  --form-element-height: 40px;

  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

  --space01: 4px;
  --space02: 8px;
  --space03: 12px;
  --space04: 16px;
  --space05: 20px;
  --space06: 24px;

  --border-radius-default: 12px;
}

* {
  box-sizing: border-box;
  accent-color: var(--primary-system-color);
}

/*Layout*/
body {
  background-image: url("/background.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2000px 2000px;
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
  backdrop-filter: blur(40px);
}

.app {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  background-color: var(--primary-background-color);
  backdrop-filter: blur(10px);
}

.content {
  max-width: var(--lg);
  margin-inline: auto;
}

.footer {
  padding: var(--space05);
}

/*Utility */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*Form */
.form-text-input {
  border-radius: var(--border-radius-default);
  height: var(--form-element-height);
  padding: var(--space03);
}

.form-text-input.form-text-input--invalid {
  border: 2px solid var(--error-system-color);
}

.form-text-input.form-text-input--invalid:focus {
  outline: 3px solid var(--error-system-color-accent);
}

.form-validation-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--error-system-color-background);
  color: var(--primary-text-color);
  border-radius: var(--border-radius-default);
  padding-block: var(--space02);
  font-weight: 600;
}

.form-submit {
  border-radius: var(--border-radius-default);
  font-weight: 600;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  padding-inline: var(--space03);
  height: var(--form-element-height);
  width: 100%;
}

/*Index*/
.shorten-form {
  padding-inline: var(--space05);
  display: grid;
  column-gap: var(--space05);
  row-gap: var(--space02);
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 0.5fr auto;
  grid-template-areas:
    "title title"
    "validation validation"
    "input save";
  grid-auto-flow: dense;
}

@media (max-width: 576px) {
  .shorten-form {
    grid-template-areas:
      "title title"
      "validation validation"
      "input input"
      "save save";
    grid-template-columns: 1fr 1fr;
  }
}

.shorten-form__title {
  grid-area: title;
}
.shorten-form__validation {
  grid-area: validation;
}
.shorten-form__input {
  grid-area: input;
}
.shorten-form__save {
  grid-area: save;
}

.recent-urls__list {
  columns: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .recent-urls__list {
    columns: 2;
  }
}

@media (min-width: 768px) {
  .recent-urls__list {
    columns: 3;
  }
}

@media (min-width: 992px) {
  .recent-urls__list {
    columns: 4;
  }
}
