.shorten-form {
  display: grid;
  column-gap: var(--space05);
  row-gap: var(--space02);
  grid-template-columns: 1fr auto;
  color: var(--secondary-text-color);
  backdrop-filter: blur(5px);
  border-radius: var(--border-radius-default);
}

@media (max-width: 576px) {
  .shorten-form {
    grid-template-columns: 1fr;
  }
}

.recent-urls__list {
  columns: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  .recent-urls__list {
    columns: 2;
  }
}

@media (min-width: 768px) {
  .recent-urls__list {
    columns: 3;
  }
}

@media (min-width: 992px) {
  .recent-urls__list {
    columns: 4;
  }
}

.form-text-input {
  border-radius: var(--border-radius-default);
  height: var(--form-element-height);
  padding: var(--space03);
}

.form-submit {
  border-radius: var(--border-radius-default);
  font-weight: 600;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  padding-inline-start: var(--space03);
  padding-inline-end: var(--space03);
  height: var(--form-element-height);
}

.footer {
  padding: var(--space05);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}